/* declaração de variáveis globais */
:root {
    --cor-neve: #fffafa;
    --cor-verde-claro: #e3fbe3;
    --cor-verde-musgo: rgba(30, 130, 30, 0.7);
    --cor-verde-limao:#32cd32;
    --cor-preta: #000000;
    --cor-branca: #ffffff;
    --cor-cinza: #aaaaaa;
    --cor-dourada: #eb783f;
    --cor-verde-transparente: #e3fbe380;

    --altura-titulo: 2em;
    --altura-subtitulo: 1.5em;
}


body {
    /* aqui fonte de texto  */
    background: var(--cor-neve);
}

header {
    background: var(--cor-verde-claro);
    padding-block: 16px;  /* padding vertical */
    padding-inline: 16px; /* padding horizontal */
}

nav {
    max-width: 1280px;  /* HD */
    height: 175px;
    margin-inline: auto;  /* centraliza com margem horizontal automatica */

    display: flex;  /* alinhamento horizontal  */
    justify-content: space-between;  /* justificação horizontal  */
    align-items: center;             /* centraliza na vertical */
}

nav ul {
    display: flex;      /* alinhamento horizontal  */
    gap: 32px;
    user-select: none;  /* não permite selecionar o texto */
}

nav ul a {
    color: var(--cor-preta);    
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover{
    color: var(--cor-dourada);
}

.banner {
    width: 100vw;
}

footer {
    background: url("../img/bg.png");
    text-align: center;
    padding-block: 16px;
}

footer p {
    color: var(--cor-branca);
    font-size: 13px;
    margin-top: 16px;
    cursor: default;
    user-select: none;
}

/* media query */
@media only screen and (max-width: 800px){

    nav {
        justify-content: right;
    }

    nav ul {
        position: fixed;  
        top: 8px;
        left: 8px;
        flex-direction: column;
        gap: 8px;
        border: 1px solid var(--cor-verde-limao);
        border-radius: 10px;
        padding: 5px;
        background: var(--cor-verde-transparente);
    }

}